:root {

  --cl-White: hsl(0, 0%, 100%);
  --cl-RoseWhite: hsl(330, 100%, 98%);
  --cl-Eggshell: hsl(30, 54%, 90%);
  --cl-LightGrey: hsl(30, 18%, 87%);
  --cl-WengeBrown: hsl(30, 10%, 34%);
  --cl-DarkCharcoal: hsl(24, 5%, 18%);

  --cl-font-family: Inter, system-ui, sans-serif;
}

html {
  background-color: var(--cl-Eggshell);
  width: 100%;
  font-size: 100%;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 3rem;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 30px;
  background-color: var(--cl-White);
}

.recipe-img .img {
  height: 40rem;
  width: 62.5rem;
  border-radius: 30px;
}

.title {
  font-size: 3em;
}

.title-paragraph {
  font-size: 1.8em;
}

.preparation-box {
  display: flex;
  flex-direction: column;
  background-color: var(--cl-RoseWhite);
  padding: 1.4rem;
  border-radius: 30px;
}