*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h4{
  margin-top: .5rem;
  padding: .3rem;
}

.container1{
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto ;
}
html{
border:1px solid black;  
height: 700px;
}

.item{
  position: relative;
  border: 1px solid; 
  z-index: 1;
  background-color: azure;
}

.item1{
top: 20px;
left: 30px;
height: 150px;
width: 200px;
}

.item2{
  top: -30px;
  left: 170px;
  height: 200px;
  width:190px ;
  }

.item3{
  top: -110px;
  left: 40px;
  height: 130px;
  width: 400px;
  }

.item4{
 top: -480px;
 left: 420px;
 height: 320px;
 width: 120px;
  }