@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{

--cl-White: hsl(0, 0%, 100%);
--cl-Grey: hsl(0, 0%, 20%);
--cl-DarkGrey:hsl(0, 0%, 12%);
--cl-OffBlack:hsl(0, 0%, 8%);
--cl-Green: hsl(75, 94%, 57%);

--cl-font-family: Inter,system-ui, sans-serif;
}

*{
padding: 0;
box-sizing: border-box;
margin: 0;
}

html{
  font-size: 100%;
}

p{
color: white;
}

li{
list-style: none;
}

a{
text-decoration: none;
color: white;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cl-DarkGrey);
  width: 100%;
  height: 100vh;
  font-family: var(--cl-font-family);
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  width: 300px;
  border: 1px solid var(--cl-DarkGrey);
  padding: 1.4rem;
  background-color: var(--cl-Grey);
  border-radius: 1rem;
}

.card-img-profile{
  width: 5rem;
  height: 5rem;
}

.card-img-profile img{
  width: 100%;
  border-radius: 50%;
}

.card-name{
  font-size: 1.5em;
  font-weight: 600;
}

.card-address{
  font-size: .8em;
  font-weight: 700;
  color: var(--cl-Grey);
}

.card-phrase{
  font-size: 7em;
  font-weight: 400;
  color: var(--cl-White);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card-social-buttons-container{
  width: 100%;
}

.card-social-buttons{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.card .social-buttons{
  text-align: center;
  background-color: var(--cl-Green);
  font-size: 7em;
  font-weight: 700;
  border-radius: .3rem;
  padding: 1rem 0;
}