---
const items = [
  {
    title: "Menu 1",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "About2",
    path: "/about2",
  },
  {
    title: "Contacto",
    path: "/contacto",
  },
];
---

<header id="main-header">
  <nav class="navbar">
    <img id="navbar-logo" src="/svg/Pragmat_Archivo.svg" alt="logo" />
    <ul class="menu">
      {
        items.map((item, index) => (
          <>
            {
              <li>
                <a class="menu-item" href={item.path}>
                  <span>{item.title}</span>
                </a>
              </li>
            }
          </>
        ))
      }
    </ul>
    <div class="menu-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
    </div>
  </nav>
  <hr />
</header>

<style>
  #main-header {
    max-width: 960px;
    margin: 0 auto;
    z-index: 10;
  }
  #main-header hr {
    margin: 0 auto;
  }
  #navbar-logo {
    height: 40px;
    width: 40px;
  }

  .header {
    max-width: 960px;
    margin: 2rem auto;
  }
  .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  #navbar-logo {
    height: 4rem;
    width: 11rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: black;
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      color: blue;
    }

    .menu-toggle {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .menu-toggle {
        display: block;
        height: 50px;
        width: 50px;
      }

      .menu {
        display: none;
        position: absolute;
        top: 10%;
        right: 0;
        width: 100%;
        height: 100vh;
        gap: 0.5rem;

        &.active {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          border-radius: 0.1rem;
          background-color: black;
          color: blue;
          font-size: 1.1em;
          font-weight: 500;
          padding-top: 2rem;
          padding-left: 1rem;

          & li {
            padding: 0.5rem 1rem;
            width: 100%;
            background-color: black;
          }
        }
      }
    }
  }
</style>

<script>
  const menuToggle = document.querySelector(".menu-toggle");
  const menu = document.querySelector(".menu");
  const hamburguer_logo = document.querySelector("#hamburguer-logo");

  menuToggle.addEventListener("click", () => {
    menuToggle.classList.toggle("active");
    menu.classList.toggle("active");

    if (menu.classList.contains("active")) {
      hamburguer_logo.src = "/icon-menu.svg";
    } else {
      hamburguer_logo.src = "/icon-menu.svg";
    }
  });
</script>
