---
const items = [
  {
    title: "Menu 1",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "About2",
    path: "/about2",
  },
  {
    title: "About3",
    path: "/about",
  },
];
---

<header id="main-header">
  <nav class="navbar">
    <img id="navbar-logo" src="/favicon.svg" alt="logo" />
    <ul class="menu">
      {
        items.map((item, index) => (
          <>
            {
              <li>
                <a class="menu-item" href={item.path}>
                  <span>{item.title}</span>
                </a>
              </li>
            }
          </>
        ))
      }
    </ul>
    <div class="menu-toggle">
      <img id="hamburguer-logo" src="/icon-menu.svg" alt="" />
    </div>
  </nav>
</header>

<style>
  #main-header {
    max-width: 960px;
    margin: 2rem auto;
  }
  #navbar-logo {
    height: 40px;
    width: 40px;
    background-color: black;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .header {
    max-width: 960px;
    margin: 2rem auto;
  }
  .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 1rem;

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      color: blue;
    }

    .menu-toggle {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .menu-toggle {
        display: block;
        height: 50px;
        width: 50px;
      }

      .menu {
        display: none;
        position: absolute;
        top: 10%;
        /* top: 100%; */
        right: 0;
        width: 100%;
        height: 100vh;
        gap: 0.5rem;

        &.active {
          /* .menu tiene además aplicado .active */
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          border-radius: 0.1rem;
          background-color: white;
          color: blue;
          font-size: 1.1em;
          font-weight: 500;
          padding-top: 2rem;
          padding-left: 1rem;

          & li {
            padding: 0.5rem 1rem;
            width: 100%;
            background-color: white;
          }
        }
      }
    }
  }
</style>

<script>
  const menuToggle = document.querySelector(".menu-toggle");
  const menu = document.querySelector(".menu");
  const hamburguer_logo = document.querySelector("#hamburguer-logo");

  menuToggle.addEventListener("click", () => {
    menuToggle.classList.toggle("active");
    menu.classList.toggle("active");

    if (menu.classList.contains("active")) {
      hamburguer_logo.src = "/icon-menu.svg";
    } else {
      hamburguer_logo.src = "/icon-menu.svg";
    }
  });
</script>
