---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About.">
  <main class="main">
    <div class="promo">
      <div class="promo-content">
        <h1>Promociones !!!</h1>
        <p>3x2 EN TATTOOS CHICOS</p>
        <p>+</p>
        <p>50 % EN TU SEGUNDO TATTOO(EN LA MISMA SESIÓN)</p>
      </div>
      <p class="message-button">
        <a class="button" href="/">Volver a inicio</a>
      </p>
    </div>
    <div class="designs"></div>
  </main>
  <style>
    .main {
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      background-color: rgba(14, 14, 14, 0.95);
      color: white;
    }
  </style>
</Layout>
