---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Index">
  <main class="main">
    <img src="/jpg/Portada.jpg" alt="Portada" id="background-video" />
    <h1>Pragmat Tattoo</h1>
    <p></p>
  </main>
  <style>
    .main {
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      background-color: rgba(14, 14, 14, 0.95);
      color: white;
    }
  </style>
</Layout>
