---
import Layout from "../layouts/Layout.astro";
---

<Layout title="privacyPolicy">
  <section>
    <h1>Política de Privacidad</h1>
    <p>Fecha de entrada en vigor: 1 de junio de 2024</p>

    <h2>1. Introducción</h2>
    <p>
      Bienvenido a Pragmat Tato. Esta Política de Privacidad explica cómo
      recopilamos, usamos, divulgamos y protegemos su información cuando visita
      nuestro sitio web y utiliza nuestros servicios.
    </p>

    <h2>2. Información que Recopilamos</h2>
    <p>
      Recopilamos información personal que usted nos proporciona directamente,
      como su nombre, dirección de correo electrónico, número de teléfono, y
      cualquier otra información que elija proporcionarnos.
    </p>
    <p>
      También recopilamos información automáticamente cuando utiliza nuestro
      sitio web, como su dirección IP, tipo de navegador, y páginas visitadas.
    </p>

    <h2>3. Uso de la Información</h2>
    <p>Utilizamos la información recopilada para:</p>
    <ul>
      <li>Proporcionar y mejorar nuestros servicios</li>
      <li>Contactarlo con respecto a citas y consultas</li>
      <li>
        Enviar boletines informativos y promociones, si usted ha dado su
        consentimiento
      </li>
      <li>
        Analizar el uso de nuestro sitio web para mejorar su funcionalidad
      </li>
    </ul>

    <h2>4. Compartir Información</h2>
    <p>
      No compartimos su información personal con terceros, excepto en las
      siguientes circunstancias:
    </p>
    <ul>
      <li>Con su consentimiento</li>
      <li>Para cumplir con la ley o responder a un proceso legal</li>
      <li>
        Para proteger los derechos, propiedad y seguridad de nuestro estudio y
        nuestros clientes
      </li>
    </ul>

    <h2>5. Seguridad de la Información</h2>
    <p>
      Implementamos medidas de seguridad para proteger su información personal
      contra el acceso no autorizado, alteración, divulgación o destrucción.
    </p>

    <h2>6. Sus Derechos</h2>
    <p>
      Usted tiene el derecho de acceder, rectificar, eliminar y oponerse al
      tratamiento de sus datos personales. Para ejercer estos derechos, por
      favor contáctenos en <a href="mailto:privacy@pragmattato.com"
        >privacy@pragmattato.com</a
      >.
    </p>

    <h2>7. Cambios en esta Política de Privacidad</h2>
    <p>
      Nos reservamos el derecho de actualizar esta Política de Privacidad en
      cualquier momento. Cualquier cambio será publicado en esta página con una
      nueva fecha de entrada en vigor.
    </p>

    <h2>8. Contacto</h2>
    <p>
      Si tiene alguna pregunta sobre esta Política de Privacidad, por favor
      contáctenos en <a href="mailto:privacy@pragmattato.com"
        >privacy@pragmattato.com</a
      >.
    </p>
  </section>
</Layout>
