---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="main">
    <div class="promo">
      <div class="promo-content">
        <h1>Promociones !</h1>
        <p>3x2 EN TATTOOS CHICOS</p>
        <p>+</p>
        <p>50 % EN TU SEGUNDO TATTOO (EN LA MISMA SESIÓN)</p>
      </div>
    </div>
    <div class="cards">
      <div class="card-1">
        <img class="promo-image" src="/jpg/IMG_8267.jpg" />
        <div class="card-text">
          <h4>Realismo</h4>
          <p>
            El arte de plasmar, de manera perfecta y lo más fielmente posible,
            esa realidad que vemos, sobre un lienzo o una escultura. Sin dudas,
            es un estilo que requiere de mucha paciencia, habilidad y práctica.
          </p>
          <a href="/contacto" class="button">Más info</a>
        </div>
      </div>
      <div class="card-1">
        <img class="promo-image" src="/jpg/IMG_8267.jpg" />
        <div class="card-text">
          <h4>Realismo</h4>
          <p>
            El arte de plasmar, de manera perfecta y lo más fielmente posible,
            esa realidad que vemos, sobre un lienzo o una escultura. Sin dudas,
            es un estilo que requiere de mucha paciencia, habilidad y práctica.
          </p>
          <a href="/contacto" class="button">Más info</a>
        </div>
      </div>
      <div class="card-1">
        <img class="promo-image" src="/jpg/IMG_8267.jpg" />
        <div class="card-text">
          <h4>Realismo</h4>
          <p>
            El arte de plasmar, de manera perfecta y lo más fielmente posible,
            esa realidad que vemos, sobre un lienzo o una escultura. Sin dudas,
            es un estilo que requiere de mucha paciencia, habilidad y práctica.
          </p>
          <a href="/contacto" class="button">Más info</a>
        </div>
      </div>
      <div class="card-1">
        <img class="promo-image" src="/jpg/IMG_8267.jpg" />
        <div class="card-text">
          <h4>Realismo</h4>
          <p>
            El arte de plasmar, de manera perfecta y lo más fielmente posible,
            esa realidad que vemos, sobre un lienzo o una escultura. Sin dudas,
            es un estilo que requiere de mucha paciencia, habilidad y práctica.
          </p>
          <a href="/contacto" class="button">Más info</a>
        </div>
      </div>
      <div class="cuidados-box">
        <h3>Cuidados de un tatuaje</h3>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
        </ul>
      </div>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

      :root {
        --cl-font-family: "EB Garamond", serif;
      }
      .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        padding: 30px;
        background-color: rgba(14, 14, 14, 0.95);
        h1 {
          font-size: 50px;
        }
      }
      .promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
      .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 8px;
        @media screen and (max-width: 768px) {
          max-width: 100%;
        }
        .card-1 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          background-color: white;
          max-height: 300px;
          max-width: 350px;
          color: black;
          font-size: medium;
          font-family: var(--cl-font-family);
          h4 {
            font-size: 20px;
            margin: 0 auto;
          }
          & img {
            max-width: 150px;
          }
          .button {
            padding: 10px 20px;
            font-size: 16px;
            margin-top: 10%;
            margin-bottom: 10%;
            background-color: black;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
          }
          .button:hover {
            background-color: grey;
          }
        }
      }
      .promo-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        font-family: var(--cl-font-family);
        font-size: large;
      }
      .message-button {
        margin-top: 20px;
      }

      .button:hover {
        background-color: #0056b3;
      }
      .button:active {
        animation: bounce 0.3s;
      }
    </style>
  </main>
</Layout>
